.blocks{
    padding: 50px 0;
}

.block{
    padding: 0;
    margin-bottom: 100px;

}

.block:nth-child(2n){
    flex-direction: row-reverse;
}

.img_wrapper{
    width:45%;
    overflow: hidden;
    position: relative;
}

.image{
    width: 100%;
    transform: scale(1);
    transition: 1s;
}

.image:hover{
    transform: scale(1.05);
}

.text_side{
    width: 40%;
}

.h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 20px;
}

.button{
    background: none;
    border: 2px solid #000000;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-variant: small-caps;
    color: #000;
    width: 300px;
    height: 55px;
    cursor: pointer;
    transition: 0.4s;
    text-transform: uppercase;
}

.button:hover{
    color: #fff;
    background-color: #000;
    /*border: 2px solid #681010;*/

}